html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(#e0e0e0 2px, transparent 0); background-size: 3vh 3vh;
  background-color: #F8F7F2;
  font-family: 'Poppins';
  max-width: 100vw;
}

a {
  text-decoration: none;
}

a:hover{
  color: #56E1D0 !important;
}

* {
  box-sizing: border-box;
}
