.nav{
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav Button{
  background: #5E60CE;
  font-weight: normal;
  font-family: 'Poppins';
  color: white;
  text-transform: capitalize !important
}
.nav Button:hover{
  background: #6930C3;
}

.main{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
}

.logo{
  max-height: 3vh;
  margin: 1vh;
}

.ctaGroup{
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

.ctaGroup span{
  margin-left: 2vh;
}

.ctaGroup Button{
  box-shadow: 0 0 10px #b2b2b2;
  background: #5E60CE;
  font-weight: normal;
  font-family: 'Poppins';
  font-size: large;
  color: white;
  text-transform: capitalize !important
}

.ctaGroup Button:hover{
  background: #6930C3 !important;
}

.cardSection{
  background-color: #F8F8FB;
  margin: 0;
  margin-top: 10vh;
  max-width: 100vw;
}

.cardSection::before{
  height: 0;
  content: "";
  border-top: 50px transparent solid;
  border-right: 99vw #F8F8FB solid;
  margin: 0;
}

.card h2{
  color: #6930C3;
  font-family: 'Permanent Marker';
  font-weight: lighter;
  font-size: xx-large;
}

.bottomNav{
  width: 100%;
  height: auto;
  background: white;
  display: flex;
}

.bottomNavContainer{
  padding: 0vw 10vw;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  margin-left: 1vh;
}

.NodemapInfoContainer{
  width: 80vw;
  display:flex;
  align-items: flex-start;
  margin: 10vh 0vh;
}

.NodemapInfoContainer div{
  padding: 5vh 5vh;
  border-radius: 10px;
  margin: 1vh;
  height: 100%;
  box-shadow: 0 0 40px #5e60ce27;
  transition: all 0.5s;
}
.NodemapInfoContainer div:hover{
  box-shadow: 0 0 40px #5E60CE;
}

.NodemapInfoTitle{
  text-align: center;
  margin-bottom: 5vh;
  font-size: xx-large;
  color: #5E60CE;
}

.NodemapInfoContent{
  text-align: center;
  color: #2b2b2b;
}

@media only screen and (min-width: 601px) {
  .outer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container{
    padding-top: 10vh;
    width: 80vw;
    height: 70vh;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero{
    max-width: 50%
  }
  .heroText{
    max-width: 50%;
  }
  .xxLarge{
    font-size: xxx-large;
  }
  .heroText p{
    max-width: 70%;
    font-size: large;
  }
  .nav{
    padding: 0 10vw;
  }
  .cardsContainer{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 60vw;
    justify-content: center;
    margin: 10vh 0
  }
  .card{
    text-align: center;
    height: auto;
    margin: 0vh 2vh;
    padding: 2vh;
    background: white;
    min-width: 25vw;
  }
  .NodemapInfoContainer{
    width: 80vw;
    margin: 10vh 0vh;
  }
  .NodemapInfoContainer div{
    max-width: 50%;
  }
  .UseCaseContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    margin-bottom: 20vh;
  }
  .UseCaseCard{
    margin: 5px;
    width: 30%;
    padding: 2vh;
    margin: 2vh;
    transition: all 0.5s;

  }
  .UseCaseCard:hover{
    box-shadow: 0px 10px 40px #c3c4ff;
  }
  .UseCaseCard h2{
    margin-top: 0;
    background-color: #c3c4ff;
    padding: 1vh;
    border-radius: 5px;
    color: #363775;
  }
  .UseCaseCard ul{
    color: #5E60CE;
    font-style: italic;
  }
}

@media only screen and (max-width: 600px) {
  .nav Button{
    display: none;
  }
  .container{
    padding-top: 2vh;
    width: 100vw;
    flex-direction: column;
  }
  .hero{
    max-width: 90vw
  }
  .heroText{
    max-width: 75%;
  }
  .heroText h1{
    font-size: x-large;
  }
  .cardsContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 97vw;
    align-items: center;
  }
  .card{
    text-align: center;
    width: 75%;
    height: auto;
    margin: 2vh 0vh;
    padding: 2vh;
    background: white;
  }
  .NodemapInfoContainer{
    width: 100vw;
    margin: 5vh 0vh;
    flex-direction: column;
  }
  .NodemapInfoContainer div{
    min-width: 80vw;
  }
  .NodemapInfoContent{
    width: 100%
  }
  .UseCaseContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20vh;
  }
  .UseCaseCard{
    margin: 5px;
    width: 90%;
    padding: 2vh;
    margin: 1vh;
    transition: all 0.5s;

  }
  .UseCaseCard:hover{
    box-shadow: 0px 10px 40px #c3c4ff;
  }
  .UseCaseCard h2{
    margin-top: 0;
    background-color: #c3c4ff;
    padding: 1vh;
    border-radius: 5px;
    color: #363775;
  }
  .UseCaseCard ul{
    color: #5E60CE;
    font-style: italic;
  }
}
