.nav{
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav Button{
  background: #6930C3;
  font-weight: normal;
  font-family: 'Poppins';
  color: white;
  text-transform: capitalize !important
}

.main{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
}

.logo{
  max-height: 3vh;
  margin: 1vh;
}

.ctaGroup{
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

.ctaGroup span{
  margin-left: 2vh;
}

.ctaGroup Button{
  box-shadow: 0 0 10px #b2b2b2;
  background: #6930C3;
  font-weight: normal;
  font-family: 'Poppins';
  font-size: large;
  color: white;
  text-transform: capitalize !important
}

.ctaGroup Button:hover{
  background: #56E1D0 !important;
}

.cardSection{
  background-color: hsl(270, 14%, 95%);
  margin: 0;
  margin-top: 10vh;
  max-width: 100vw;
}

.cardSection::before{
  height: 0;
  content: "";
  border-top: 50px transparent solid;
  border-right: 99vw #F1EFF3 solid;
  margin: 0;
}

.card h2{
  color: #6930C3;
  font-family: 'Permanent Marker';
  font-weight: lighter;
  font-size: xx-large;
}

.bottomNav{
  width: 100%;
  height: auto;
  background: #F8F7F2;
  display: flex;
}

.bottomNavContainer{
  padding: 0vw 10vw;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  margin-left: 1vh;
}

@media only screen and (min-width: 601px) {
  .outer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container{
    padding-top: 10vh;
    width: 80vw;
    height: 70vh;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero{
    max-width: 50%
  }
  .heroText{
    max-width: 50%;
  }
  .heroText p{
    max-width: 70%;
  }
  .nav{
    padding: 0 10vw;
  }
  .cardsContainer{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 60vw;
    justify-content: center;
    margin: 10vh 0
  }
  .card{
    text-align: center;
    height: auto;
    margin: 0vh 2vh;
    padding: 2vh;
    background: #F8F7F2;
    min-width: 25vw;
  }
  
}

@media only screen and (max-width: 600px) {
  .nav Button{
    display: none;
  }
  .container{
    padding-top: 5vh;
    width: 100vw;
    flex-direction: column;
  }
  .hero{
    max-width: 90vw
  }
  .heroText{
    max-width: 75%;
  }
  .cardsContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 97vw;
    align-items: center;
  }
  .card{
    text-align: center;
    width: 75%;
    height: auto;
    margin: 2vh 0vh;
    padding: 2vh;
    background: #F8F7F2;
  }
  
}
